<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/about.css">
</head>
<body>
    <div style="text-align: center;"><b><span style="color: #000;font-family:'cairo',serif;
        "><span>Developer  :</span><span><span> </span> <a href="https://codepen.io/a7rarpress" target="_blank"><span style="color: #ff0000;"><%= name%></span></a></span></span></b></div>
        
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        
        <div class="aboutAuthor">
            <div class="K2_bio">
              <img alt="About " src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg">
              
              <h2> <%= name%></h2>
          <div class="h-divider">
          <div class="shadow"></div>
             <div class="text2"></div> 
        </div>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium augue non orci pharetra, eget dictum ante sagittis. Suspendisse eu nibh justo. Cras scelerisque urna lectus. Praesent rhoncus ut risus quis convallis. Praesent nec lorem eros.</p>
                <div class="h-divider">
          <div class="shadow"></div>
        </div>
              <div class="k2About-bt">
                <a class="button" href="#"><span style="color: white;">Add Link</span></a>
              </div>
            </div>
          </div>
         
</body>
</html>